<footer class="border-top text-center small text-muted py-3">
  <p class="m-0">
    Copyright &copy; 2020 <a href="/" class="text-muted" style="
        background: hsla(208, 7%, 93%, 1);
        padding: .2em .45em;
        border-radius: 3px;
    ">Writescape</a>. All rights reserved.
  </p>
</footer>

<% if(user) { %>
  <div class="c-chat js-chat">
    <div class="c-chat__wrapper shadow border-left border-top border-right js-chatWrapper"></div>
  </div>
<% } %>