<header class="header-bar mb-3">
  <div class="container d-flex flex-column flex-md-row align-items-center p-3">
    <h4 class="my-0 mr-md-auto" style="font-weight: 500;"><a href="/" class="text-white">Writescape</a></h4>

    <% if (user) { %>
    <div class="flex-row my-3 my-md-0">
      <a href="#" style="text-decoration: none" class="text-white mr-2 header-search-icon" title="Search"
        data-toggle="tooltip" data-placement="bottom">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="300px" width="300px"
          fill="#ffffff" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100"
          xml:space="preserve" style="width: 20px;height: 20px;">
          <g>
            <path
              d="M41.602,78.206C21.417,78.206,5,61.786,5,41.603C5,21.421,21.417,5,41.602,5   c20.19,0,36.601,16.422,36.601,36.603C78.202,61.786,61.792,78.206,41.602,78.206z M41.602,13.872   c-15.291,0-27.727,12.442-27.727,27.731c0,15.293,12.436,27.735,27.727,27.735s27.726-12.442,27.726-27.735   C69.327,26.314,56.893,13.872,41.602,13.872z">
            </path>
            <path
              d="M90.548,94.98c-1.14,0-2.271-0.425-3.139-1.291L61.216,67.482c-1.742-1.729-1.742-4.545,0-6.271   c1.736-1.734,4.54-1.734,6.267,0l26.198,26.199c1.732,1.736,1.732,4.542,0,6.278C92.819,94.556,91.682,94.98,90.548,94.98z">
            </path>
          </g>
        </svg>
      </a>
      <span class="text-white mr-2 header-chat-icon js-openChatTrigger" title="Chat" data-toggle="tooltip" data-placement="bottom">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="300px" width="300px"
          fill="#ffffff" version="1.1" baseProfile="tiny" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve"
          style="
              width: 25px;
              height: 25px;
          ">
          <g>
            <path
              d="M32,66.98v17.992c0,2.434,1.875,2.09,2.5,1.59C35.27,85.947,56,66.98,56,66.98h26c4.941,0,6-1.059,6-5.998   V19.719C88,13.92,87,13,82,13H18c-4.92,0-6,1-6,5.998v41.984c0,4.857,0.84,5.998,6,5.998H32z M36.52,43.988   c0,3.039-2.48,5.518-5.52,5.518s-5.52-2.479-5.52-5.518s2.48-5.52,5.52-5.52S36.52,40.953,36.52,43.988z M54.52,43.988   c0,3.039-2.48,5.518-5.52,5.518s-5.52-2.479-5.52-5.518s2.48-5.52,5.52-5.52S54.52,40.953,54.52,43.988z M72.52,43.988   c0,3.039-2.48,5.518-5.52,5.518s-5.52-2.479-5.52-5.518s2.48-5.52,5.52-5.52S72.52,40.953,72.52,43.988z">
            </path>
          </g>
        </svg>
      </span>
      <a href="/profile/<%= user.username %>" class="mr-2"><img title="My Profile" data-toggle="tooltip"
          data-placement="bottom"
          style="width: 32px; height: 32px; border-radius: 50%; box-shadow: 0 0 0 2px hsla(0, 0%, 100%, .1);"
          src="<%= user.avatar %>">
      </a>
      <a class="btn btn-sm btn-success mr-2" href="/create-post">Create Post</a>
      <form action="/logout" method="POST" class="d-inline">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn btn-sm btn-secondary">Sign Out</button>
      </form>
    </div>
    <% } else { %>
    <form action="/login" method="POST" class="mb-0 pt-2 pt-md-0">
      <div class="row align-items-center">
        <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
          <input name="username" class="form-control form-control-sm input-dark" type="text" placeholder="Username"
            autocomplete="off" />
        </div>
        <div class="col-md mr-0 pr-md-0 mb-3 mb-md-0">
          <input name="password" class="form-control form-control-sm input-dark" type="password"
            placeholder="Password" />
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="col-md-auto">
          <button class="btn btn-primary btn-sm">Sign In</button>
        </div>
      </div>
    </form>
    <% } %>
  </div>
</header>